body{
    background-color: #efc3e3;
}
header{
    background-position: center;
    text-decoration: black;
}
h1{

    background-color: rgb(248, 248, 248);
    font-family: Verdana;   
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

}

p{
    text-indent: 20px;
    text-align: justify;

    
}

.auto{
    height: 250px;
    float: right;
    margin-left: 150px;
}

#kiemelt{
    color: red;
    font-weight: bold;



}
.forras{
    text-align: right;
}


.container{
    margin:auto;
    background-color: lightgray;
}


.d-block{
    margin: auto;
    
}
.table{
    text-align: center;
    border: 2px;
    margin:0 auto;
    caption-side: top;
}
.caption{
	text-align:	center;
	font-weight: bold;
}

.flexbox-container {
    margin: 10px;
    /* border: 2px solid black; */
    border-radius: 7px;
    background-color: lightgrey;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* align-items: flex-end; */
    align-items: stretch;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    flex-direction: row;
    /* flex-direction: column-reverse; */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
 
  }
  
  .flexbox-item {
    width: 3500px;
    margin: 10px;
    padding: 10px;
    border: 2px solid darkviolet;
    background-color: lightgrey;
    border-radius: 10px;
  }
  
  .flexbox-item-1 {
    
    height: 120px;
    /* flex-shrink: 1; */
    /* order:3; */
    flex-shrink: 3;
  }
  
  .flexbox-item-2 {
    height: 120px;
    /* flex-grow: 2; */
    flex-shrink: 3;
    align-self: flex-end;
    /* flex-shrink: 3; */
  }
  
  .flexbox-item-3 {
    height: 120px;
    /* flex-shrink: 1; */
  }
